
body{
  margin:0;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: hsl(227deg 35% 33%);
}

#wrap{
  margin:auto;
  width:800px ;
  display: flex;
  line-height: 1.5em;
}

#nav{
  width: 20%;
  background-color:hsl(216deg 100% 85%) ;
  padding:1em;
}

#content{
  width: 80%;
  text-align: center;
  background-color:hsl(218deg 43% 55%);
  padding:1em;
}

#content ul{
  list-style: none;
}

.copyright{
  width: 800px;
  text-align: right;
  margin:auto;
  padding-right: 2em;
  padding-top:1em;

  }