body{
  background-color: #55ccff;
  font-size: 8.5px;
  font-family: verdana, sans-serif;
  text-align: left;
  
  }
#wrap{
  margin: auto;   
  width: 490px;;}

ul{
  list-style: none;
  text-align: center;
}

ul ::first-letter{
  font-size:15px ;
}