* {
  margin: 0;
  padding: 0;
}

body{
  background-color:hsl(27 63% 68% / 1);
  font-family: verdana, sans-serif;
  text-align: left;
  }

h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic; 
  text-align:center;
  border-bottom:4px dotted black ;}


#wrap{
  border:4px dotted black;
  background-color: hsl(60deg 56% 91%);
  margin:auto;   
  width: 550px;}

p{font-size: 11px;
padding: 15px;}

ul{font-family: monospace;
  font-style:italic;
  list-style: none;
  text-align: center;
}

ul ::first-letter{
  font-size:20px;
  font-weight: bold;
}
.copyright{text-align: center;
}
.copyright a{text-decoration: none; }